ul.c_menu {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

ul.c_menu li {
    width: 100%;
    flex: 1;
    perspective: 700px;
}

ul.c_menu li:hover .item_wrap {
    height: 100%;
    background: #2a72d8;
    transform: rotateX(-5deg) translateZ(-5px) translateY(-30px);
    color: #fff;
}

ul.c_menu li:hover .instagram {
    height: 165%;
    background: #2a72d8;
    transform: rotateX(-5deg) translateZ(-5px) translateY(-130px);
    color: #fff;
}

ul.c_menu li:hover .info {
    display: flex;
}