.tab.home {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    font-size: 85px;
    z-index: 10;
    cursor: pointer;
}

.tab.projects {
    color: #269210;
}

.tab.profile {
    color: #F5A623;
}

.tab.contact {
    color: #1C3D6C;
}

.tab_menu_wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 999;
    background: #58175C40;
    color: #fff;
    display: none;
}

.tab_menu {
    position: absolute;
    left: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: left .6s ease-in-out;
}

.tab_menu_wrap img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

.tab_menu .front {
    width: 800px;
    height: 800px;
    background: #8B1894;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.tab_menu .front i {
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 50px;
    cursor: pointer;
}

.tab_menu .front ul {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-bottom: 125px;
    justify-content: space-between;
    height: 60%;
}

.tab_menu .front ul li {
    font-family: var(--bungee);
    font-size: 50px;
    cursor: pointer;
}

.tab_menu .front ul li span {
    cursor: pointer;
}

.right {
    position: absolute;
    top: 350px;
    right: 10px;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.right.show {
    opacity: 1;
    pointer-events: auto;
}

.right.r_main {
    position: absolute;
    top: 350px;
    right: 6vw;
    display: flex;
    align-items: center;
}

.right .info {
    position: absolute;
    right: 280px;
}

.right .info .txt {
    width: 300px;
    height: 300px;
    background: #8B1894;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: var(--bungee);
    font-size: 34px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.right>img {
    position: relative;
    width: 80%;
    margin-left: 18%;
}

.right.r_main>img {
    position: relative;
    width: 100%;
    margin-left: 0;
}

.fadeout {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

@media screen and (max-width: 1850px) {
    .right.r_main {
        right: 3vw;
    }
}

@media screen and (max-width: 1750px) {
    .tab_menu .front {
        width: 40vw;
        height: 85vh;
    }

    .tab_menu>img {
        width: 47.7vw;
    }

    .tab_menu .front i {
        right: 7%;
        top: 7%;
        font-size: 3vw;
    }

    .tab_menu .front ul {
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .tab_menu .front ul li {
        font-size: 3vw;
    }
}

@media screen and (max-width: 1700px) {
    .tab.home {
        font-size: 5vw;
    }

    .right.r_main {
        top: 40%;
        right: -1vw;
    }

    .right .info img {
        width: 30vw;
    }

    .right .info .txt {
        width: 22.3vw;
        height: 22.3vw;
        background: #8B1894;
        position: absolute;
        left: 0;
        bottom: 0;
        font-family: var(--bungee);
        font-size: 2.5vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .right>img {
        position: relative;
        width: 80%;
        margin-left: 18%;
    }

    .right.r_main>img {
        position: relative;
        width: 80%;
        margin-left: 0;
    }
}

@media screen and (max-width: 1400px) {
    .right.r_main {
        right: 2vw;
    }

    .right.r_main>img {
        width: 20vw;
        object-fit: contain;
        margin-left: 0;
    }

    .right .info {
        right: 15vw;
    }

    .right>img {
        width: 20vw;
        object-fit: contain;
        margin-left: 0;
    }
}

@media screen and (max-width: 1000px) {
    .tab_menu .front i {
        font-size: 8vw;
    }

    .tab_menu .front ul {
        margin-bottom: 40%;
    }

    .tab_menu .front ul li {
        font-size: 6vw;
    }

    .tab.home {
        font-size: 5vw;
    }

    .right .info .txt {
        font-size: 3vw;
    }
}

@media screen and (max-width: 700px) {
    .tab.home {
        font-size: 8vw;
    }
}