@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Abhaya+Libre:wght@400;500;600;700;800&family=Arimo:ital,wght@0,400..700;1,400..700&family=Bungee&family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css');
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css');

:root {
  --start-font: "Montserrat", sans-serif;
  --start-title-font: "Modak", system-ui;
  --bungee: "Bungee", sans-serif;
  --arimo: "Arimo", sans-serif;
  --adlam: "ADLaM Display", system-ui;
  --abhaya: "Abhaya Libre", serif;
  --suit: "SUIT", sans-serif;
  --pretendard: "Pretendard", sans-serif;
}

.ContactPage::-webkit-scrollbar {
  /* display: none; */
}

.ProjectsPage::-webkit-scrollbar {
  color: #44f620;
  /* display: none; */
}

.ProfilePage::-webkit-scrollbar-thumb {}

body {
  overflow-x: hidden;
}

.inner {
  width: 1500px;
  margin-inline: auto;
}

.txtAniBox .scroll {
  display: flex;
  overflow-x: visible;
  /* overflow: hidden; */
}

/* .txtAniBox .simply-scroll .simply-scroll-clip .simply-scroll-list {
  display: flex;
} */

/* .txtAniBox ul {
  display: flex;
  height: auto;
  align-items: center;
  white-space: nowrap;
  transform-origin: left top;
  cursor: pointer;
} */

.txtAniBox ul li {
  margin-right: 15px;
}

.f_left,
.f_right {
  width: 70px;
  height: 100vh;
  position: fixed;
  display: none;
  opacity: 0;
  font-family: var(--start-font);
  z-index: 7;
  /* overflow: hidden; */
}

.show-content {
  display: block;
  opacity: 1;
}